.textNome {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 800;
    font-size: 16px;
}

.textDescricao {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.container {
    margin: 20px;
    cursor: pointer;
    width: 270px;
    height: 300px;
}

.containerCard {
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

.containerText {
    height: 105px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}