.searchIcon {
    vertical-align: middle;
    color: #4DCB8C;
    cursor: pointer;
}

.inputSearch {
    border-radius: 20px;
    font-size: 20px;
    margin-left: 20px;
    filter: drop-shadow(1px 1px 1px black);
    border: none;
    padding-left: 20px;
    width: 100%;
}

.container {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}