.container {
  background-image: url('/Background.svg');
  background-size: cover;
  height: 100%;
}

.backgroundTransparency {
  background-color: rgba(0, 0, 0, 0);
}

.main {
  display: flex;
  justify-content: center;
}