.container {
  background-image: url('/Background.svg');
  background-size: cover;
  height: 100vh;
}

.backgroundTransparency {
  background-color: rgba(0, 0, 0, 0.1);
  height: inherit;
}

.main {
  display: flex;
  justify-content: center;
}