.container {
    margin-left: 9%;
    margin-right: 9%;
    width: 100%;
}

.containerCard {
    display: flex;
    justify-content: space-between;
}

.containerList {
    margin-top: 10px;
}

.containerNaoEncontrado {
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}